* {
    margin: 0;
    padding: 0;
}

/*^ This is the DIV where the list of products will be displayed  */
.product-section {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}